body{
    margin: 0%;
    font-family: "Montserrat";
}


/*--------------------------------------------------- NAV BAR TU CONNAIS ---------------------------------------------------*/
nav{
    display: flex;
    background-color: #152237 ;
    justify-content: space-between;
    align-items: center;
}

#logo_nav{
    width: 5.25rem;
    margin: 1.563rem 6.125rem;
}

.formations, 
.barre_de_recherche,
.bouttons_oui{
    display: none;
}

